.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h1 Edit Pin
      .panel-body
        = image_tag @pin.image.url(), style: "display: block; max-width: 100%"
        = render 'form'
